.hero__section {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 75px;
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 6rem;
    h1 {
      font-size: 6rem;
      font-weight: 600;
      font-style: italic;
      line-height: 1;
      padding-left: 60px;
      position: relative;
      z-index: 2;
      .title__tab {
        padding-left: 120px;
      }
      .title__tab__second {
        margin-left: 240px;
        line-height: 1.4;
        padding: 0 5px;
        position: relative;
        color: $primary;
        background-color: $black;
      }
    }
    .blob {
      background: $primary;
      width: 600px;
      height: 500px;
      position: absolute;
      top: -80px;
      right: -10px;
      z-index: 1;
      filter: blur(80px);
      border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
      overflow: hidden;
      animation: morph 2s linear infinite;
    }

    @keyframes morph {
      0%,
      100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
      }
      25% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      }
      50% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      }
      75% {
        border-radius: 60% 70% 40% 80% / 80% 60% 70% 40%;
      }
    }
  }
}

.hero__cta {
  margin-top: 4rem;
  position: relative;
  z-index: 2;
  a {
    text-decoration: none;
    color: inherit;
  }
  .intro {
    margin-left: 60px;
    padding-top: 50px;
    p {
      font-size: 1.2rem;
      font-family: $font-secondary;
      padding-right: 20px;
      color: $border;
    }
  }
  .hero__btn {
    width: fit-content;
    .btn__text {
      font-size: 1.6rem;
      padding: 10px 40px;
      border: 1px solid $border;
      border-radius: 50px;
      backdrop-filter: blur(80px);
    }
    .btn__icon {
      aspect-ratio: 1/1;
      width: 60px;
      border: 1px solid $border;
      border-radius: 50px;
      backdrop-filter: blur(80px);
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        transform: rotate(-45deg);
        transition: all ease-in 0.2s;
      }
    }
    &:hover {
      .btn__icon {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }
}
